body {
  //display: flex;
  //justify-content: center;
  .main {
    margin: 0 auto;
    width: 40rem;
    padding-bottom: 100px;
    .card-link {
      .bi-heart-fill {
        display: none;
      }
      &.like.active {
        color: #dc3545;
        .bi-heart-fill {
          display: inline-block;
        }
        .bi-heart {
          display: none;
        }


      }
    }
    .bd-placeholder-img {
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    .profile__avatar {
      width: 200px;
    }
    .profile__info {
      .profile__info--registered {
        font-size: 12px;
        font-weight: bold;
      }
    }
  }

}

